form {
  background-image: url(/images/background/bg1.jpg);
  margin-top: 10px;
  border-radius: 5px;
  max-width: 40% !important;
  width: 40% !important;
}

h4 {
  font-weight: bold;
}

.form-group .option-group {
  display: flex;
  border: 2px solid #ccc;
  border-radius: 4px;
  justify-content: flex-start;
  align-items: center;
  padding: 6px;
}

.form-group .option-group > input {
  width: 12px;
  height: 12px;
  margin-left: 10px;
}

.form-group .option-group > span {
  margin-left: 4px;
}

input,
select {
  background-color: #fff !important;
}

input[type="radio"]:after {
  width: 12px;
  height: 12px;
  border-radius: 15px;
  top: -0.4em;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
}

input[type="checkbox"]:after {
  width: 12px;
  height: 12px;
  top: -0.4em;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
}

input[type="radio"]:checked:after {
  width: 12px;
  height: 12px;
  border-radius: 15px;
  top: -0.4em;
  position: relative;
  background-color: #ffa500;
  content: "";
  display: inline-block;
  visibility: visible;
}

input[type="checkbox"]:checked:after {
  width: 12px;
  height: 12px;
  top: -0.4em;
  position: relative;
  background-color: #ffa500;
  content: "";
  display: inline-block;
  visibility: visible;
}

#loi {
  font-size: 1em;
  font-weight: bold;
  color: red;
  font-style: italic;
  text-decoration: underline darkturquoise;
  margin-bottom: 0.5em;
}

.form-group .btn-css-before {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

.form-group .btn-css-before:hover {
  -webkit-transform: scale(1.05) translateZ(0);
  -moz-transform: scale(1.05) translateZ(0);
  transform: scale(1.05) translateZ(0);
  transition: opacity 0.2s ease-in-out, transform 0.7s, -webkit-transform 0.7s,
    -moz-transform 0.7s;
  cursor: pointer;
}

form .btn-container {
  text-align: center;
}
